<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Real State Property Column - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style type="text/css">
      body {
        margin-top: 20px;
        background-color: #f2f2f2;
      }

      #real-estates-columns .title-realestates-columns h4 a {
        color: #1abc9c;
        font-weight: 300;
        font-size: 18pt;
        text-decoration: none;
      }

      #real-estates-columns .btn.btn-default {
        border-color: #bdc3c7;
        background-color: #bdc3c7;
        border: 1px solid #bdc3c7;
      }

      #real-estates-columns img {
        border: 5px solid #ecf0f1;
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Team Tomorrow Property</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#"> View Profile</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
      <div class="row bootstrap snippets bootdeys" id="real-estates-columns">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <a href="#"
                ><img
                  src="https://www.bootdey.com/image/300x300/20B2AA/000000"
                  class="img-responsive"
              /></a>
              <div class="title-realestates-columns">
                <h4>
                  <a href="#"><strong>Omah Gedong Apik BGT</strong></a>
                </h4>
                <small class="label label-warning"
                  ><i class="fa fa-dot-circle-o" data-original-title title></i>
                  $2,989</small
                >
                <hr />
                <p>
                  Nah nek iki lagi larang soale apik-apik barange tur aku ra iso
                  tuku wong karang jeh ngumpulke gawe nikah kie.
                </p>
              </div>
              <div class="footer-realestates-columns">
                <div class="row">
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-primary btn-block"
                      data-original-title
                      title
                      >View Property</a
                    >
                  </div>
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-danger btn-block"
                      data-original-title
                      title
                      >Delete Listing</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <a href="#"
                ><img
                  src="https://www.bootdey.com/image/300x300/FF7F50/000000"
                  class="img-responsive"
              /></a>
              <div class="title-realestates-columns">
                <h4>
                  <a href="#"><strong>Omah Gedong Apik BGT</strong></a>
                </h4>
                <small class="label label-warning"
                  ><i class="fa fa-dot-circle-o" data-original-title title></i>
                  $2,989</small
                >
                <hr />
                <p>
                  Nah nek iki lagi larang soale apik-apik barange tur aku ra iso
                  tuku wong karang jeh ngumpulke gawe nikah kie.
                </p>
              </div>
              <div class="footer-realestates-columns">
                <div class="row">
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-primary btn-block"
                      data-original-title
                      title
                      >View Property</a
                    >
                  </div>
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-danger btn-block"
                      data-original-title
                      title
                      >Delete Listing</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <a href="#"
                ><img
                  src="https://www.bootdey.com/image/300x300/87CEFA/000000"
                  class="img-responsive"
              /></a>
              <div class="title-realestates-columns">
                <h4>
                  <a href="#"><strong>Omah Gedong Apik BGT</strong></a>
                </h4>
                <small class="label label-warning"
                  ><i class="fa fa-dot-circle-o" data-original-title title></i>
                  $2,989</small
                >
                <hr />
                <p>
                  Nah nek iki lagi larang soale apik-apik barange tur aku ra iso
                  tuku wong karang jeh ngumpulke gawe nikah kie.
                </p>
              </div>
              <div class="footer-realestates-columns">
                <div class="row">
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-primary btn-block"
                      data-original-title
                      title
                      >View Property</a
                    >
                  </div>
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-danger btn-block"
                      data-original-title
                      title
                      >Delete Listing</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <a href="#"
                ><img
                  src="https://www.bootdey.com/image/300x300/FFB6C1/000000"
                  class="img-responsive"
              /></a>
              <div class="title-realestates-columns">
                <h4>
                  <a href="#"><strong>Omah Gedong Apik BGT</strong></a>
                </h4>
                <small class="label label-warning"
                  ><i class="fa fa-dot-circle-o" data-original-title title></i>
                  $2,989</small
                >
                <hr />
                <p>
                  Nah nek iki lagi larang soale apik-apik barange tur aku ra iso
                  tuku wong karang jeh ngumpulke gawe nikah kie.
                </p>
              </div>
              <div class="footer-realestates-columns">
                <div class="row">
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-primary btn-block"
                      data-original-title
                      title
                      >View Property</a
                    >
                  </div>
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-danger btn-block"
                      data-original-title
                      title
                      >Delete Listing</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <a href="#"
                ><img
                  src="https://www.bootdey.com/image/300x300/FF7F50/000000"
                  class="img-responsive"
              /></a>
              <div class="title-realestates-columns">
                <h4>
                  <a href="#"><strong>Omah Gedong Apik BGT</strong></a>
                </h4>
                <small class="label label-warning"
                  ><i class="fa fa-dot-circle-o" data-original-title title></i>
                  $2,989</small
                >
                <hr />
                <p>
                  Nah nek iki lagi larang soale apik-apik barange tur aku ra iso
                  tuku wong karang jeh ngumpulke gawe nikah kie.
                </p>
              </div>
              <div class="footer-realestates-columns">
                <div class="row">
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-primary btn-block"
                      data-original-title
                      title
                      >View Property</a
                    >
                  </div>
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-danger btn-block"
                      data-original-title
                      title
                      >Delete Listing</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <a href="#"
                ><img
                  src="https://www.bootdey.com/image/300x300/20B2AA/000000"
                  class="img-responsive"
              /></a>
              <div class="title-realestates-columns">
                <h4>
                  <a href="#"><strong>Omah Gedong Apik BGT</strong></a>
                </h4>
                <small class="label label-warning"
                  ><i class="fa fa-dot-circle-o" data-original-title title></i>
                  $2,989</small
                >
                <hr />
                <p>
                  Nah nek iki lagi larang soale apik-apik barange tur aku ra iso
                  tuku wong karang jeh ngumpulke gawe nikah kie.
                </p>
              </div>
              <div class="footer-realestates-columns">
                <div class="row">
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-primary btn-block"
                      data-original-title
                      title
                      >View Property</a
                    >
                  </div>
                  <div class="col-sm-6">
                    <a
                      href="#"
                      class="btn btn-danger btn-block"
                      data-original-title
                      title
                      >Delete Listing</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>